/*selector {
	property: value;
}*/
.col{
	background-color: grey;
	border: 2px solid black;
}
.navbar-brand{
	width:100px;
	height: 50px;
	padding: 3px 0px; 
}
nav {
	background-color: black;
}
h6{
	text-align: center;
	font-size: 15px;
}
.card{
	margin-left: 10px;
}
content a{
	text-decoration: none;
}
content a:hover{
	text-decoration: none;
}
content img{
	transition: all 1s ease;
}
content img:hover{
	transform: scale(1.05);
}
content ul li{
	display: inline-block;
	list-style-type: none;
}
img{
	width:286px;
	height: 422.266px;
}
content ul{
	margin-top: 40px;
	
}
body{
	background-color: #342B4B;
}
.card{
	border: 1px solid black;
	margin: 5px;
	border-radius: 10px;
}
.sticky{
	position: fixed;
	width:100%;
	z-index: 1;
}
.navbar{
	background-color: rgba(78,81,87,0.8);
}